module.exports = (grunt) ->
  path = require('path')
  requirejsOptions = {}

  jsmain = [
    'main'
    'main-company'
    'main-company-history-second'
  ]
  jsmain.forEach (e, i) ->
    postfix = /^main(\-.+)?/.exec(e)[1] or ''
    name = 'compile' + i
    all = 'all' + postfix
    requirejsOptions[name] = options:
      include: [
        'lib/almond'
        e
      ]
      baseUrl: './source/js'
      out: './source/js/' + all + '.js'
      optimize: 'none'
      wrap: true
    return
  grunt.initConfig
    bower: install: options:
      targetDir: './source/js/lib'
      layout: (type, component, source) ->
        path.join()
      install: true
      verbose: false
      cleanTargetDir: true
      cleanBowerDir: false
    watch:
      files: [ './source/js/**/*.js' ]
      tasks: [ 'jasmine' ]
    requirejs: requirejsOptions
    middleman:
      options: useBundle: true
      server: options:
        command: 'server'
        useBundle: true
        environment: 'development'
        host: '192.168.1.11'
        port: 4567
        clean: true
      build: options: command: 'build'
    jshint:
      files: [
        './source/js/**/*.js'
        '.jshintrc'
      ]
      options: jshintrc: '.jshintrc'
    jasmine:
      src: './source/js/mod/inherit'
      options:
        specs: './source/js/spec/*Spec.js'
        helpers: './source/js/spec/*Helper.js'
        keepRunner: true
        template: require('grunt-template-jasmine-requirejs')
        templateOptions: requireConfig:
          baseUrl: './source/js/'
          urlArgs: 'bust=' + (new Date).getTime()
          paths:
            'jquery': 'lib/jquery'
            'jquery.easing': 'lib/jquery.easing'
          shim: 'jquery.easing': [ 'jquery' ]
        vendor: [
          './node_modules/jasmine-jquery/vendor/jquery/jquery.js'
          './node_modules/jasmine-jquery/lib/jasmine-jquery.js'
        ]
        phantomjs: 'ignore-ssl-errors': true
  #matchdepでpackage.jsonから"grunt-*"で始まる設定を読み込む
  #require('matchdep').filterDev('grunt-*').forEach(grunt.loadNpmTasks);
  require('load-grunt-tasks') grunt, pattern: [
    'grunt-*'
    '!grunt-template-jasmine-requirejs'
  ]
  grunt.registerTask 'i', [ 'bower:install' ]
  grunt.registerTask 's', [ 'middleman:server' ]
  grunt.registerTask 'w', [ 'watch' ]
  grunt.registerTask 'b', [
    'requirejs'
    'middleman:build'
  ]
  return

# ---
# generated by js2coffee 2.0.3