@charset "utf-8"

@import compass/css3
@import compass/typography
@import _config.sass
@import _util.sass

/* ============================
 * 
 *     Reset Defaults
 *
 * ============================ */

@import compass/reset

/* ============================
 * 
 *     Whole Contents
 *
 * ============================ */

html, body
  height: 100%

body
  width: 100%
  font-size: 100%
  line-height: 160%
  color: #333
  background: #FFF
  -webkit-text-size-adjust: 100%

img
  vertical-align: bottom
  -ms-interpolation-mode: bicubic

strong
  font-weight: bold

a
  //+link-colors(#FFF, #F60 #F60, #FFF, #F60)//n-h-a-v-f

input
  font-size: 75%
  line-height: 120%

input.placeholder
  color: #999

.alpha-ro a:hover img
  opacity: 0.5
  filter: alpha(opacity=50)

+micro-clearfix()

// garter constants
$grt_large: 40px
$grt_middle: 20px
$grt_small: 10px
$grt_thin: 5px

=layout-visualizer
  box-sizing: border-box
  padding: 1px
  border: 1px dotted #000

=contents-visualizer
  box-sizing: border-box
  padding: 1px
  border: 1px solid #6CF

=element-visualizer
  position: relative
  &:before
    content: "EL"
    position: absolute
    left: 0
    top: 0
    padding: 0 0.25em
    background: #6CF
    color: #FFF
    font-size: 0.75rem
    line-height: 160%

/* ===== Layout modules ===== */

.layout-wrapper
  position: relative
  width: 960px
  margin: 0 auto
  //+layout-visualizer()

.layout-column
  //+layout-visualizer()
  /* For IE 6/7 (trigger hasLayout) */
  zoom: 1
  /* For modern browsers */
  &:before, &:after
    content: ""
    display: block
    overflow: hidden
  &:after
    clear: both

.layout-column-main
  float: left
  width: 730px
  //+layout-visualizer()

.layout-column-side
  float: right
  width: 180px
  //+layout-visualizer()

/* ===== Section modules ===== */

// `Section module` define margin between group of contents
// element belongs `Section modules` has vertical margin, hasnt horizontal margin.

.contents
  position: relative
  //+contents-visualizer()
  &>*
    margin: $grt_large 0
    background: #F0F0F0
  &>*:not(.contents)
    //+element-visualizer()
  *:first-child
    margin-top: 0
  *:last-child
    margin-bottom: 0

  .contents
    &>*
      margin: $grt_middle 0
      background: #F8F8F8
    *:first-child
      margin-top: 0
    *:last-child
      margin-bottom: 0

/* ===== Elements ===== */

// `Content module` define margin between each of elements
// element belongs `Content modules` has vertical margin, hasnt horizontal margin.


/* ===== Styling modules ===== */

.simple-list
  li
    padding: $grt_thin
    border-bottom: 1px solid #CCC
    background: #FFF
    &:first-child
      border-top: 1px solid #CCC

.border-list
  li
    margin: $grt_small 0
    padding: $grt_thin
    border: 1px solid #CCC
    background: #FFF

.simple-table
  th, td
    padding: $grt_thin
    border-top: 1px solid #CCC
    border-bottom: 1px solid #CCC
    background: #FFF
  th
    background: #F8F8F8

.border-table
  th, td
    padding: $grt_thin
    border: 1px solid #CCC
    background: #FFF
  th
    background: #F8F8F8

.form-table
  width: 100%
  th[scope=row]
    width: 20%

.panel
  padding: $grt_middle
  border: 2px solid #CCC
  //border-radius: 6px
  background: #FFF

.panel-has-heading
  border: 2px solid #CCC
  background: #FFF
  .panel-heading
    padding: $grt_middle
    border-bottom: 2px solid #CCC
  .panel-content
    padding: $grt_middle

/* ============================
 * 
 *     Header - #masthead
 *
 * ============================ */

#masthead
  position: relative
  width: 100%
  margin: 0 0 $grt_large
  background: #EEE

.controls
  position: absolute
  right: 5px
  top: 2px
  li
    display: inline-block
    font-size: 1.125rem
    line-height: 120%
  a
    display: inline-block
    padding: 2px 5px
  .btn-show
    display: inline-block
  .btn-hide
    display: none

/* ============================
 * 
 *     Contents
 *
 * ============================ */

#main
  position: relative
  margin: $grt_large 0

/* ============================
 * 
 *     Footer - #colophon
 *
 * ============================ */

#colophon
  width: 100%


/* ============================
 * 
 *     Tablet Layout
 *
 * ============================ */

// garter constants for tablet
$grt_large_tab: 20px
$grt_middle_tab: 10px
$grt_small_tab: 5px
$grt_thin_tab: 5px

@media screen and (max-width:1023px)

  /* ===== Layout modules ===== */

  .layout-wrapper
    width: 100%

  .layout-column-main
    float: none
    width: 100%
    margin: 0 0 $grt_large_tab

  .layout-column-side
    float: none
    width: 100%

  /* ===== Section modules ===== */

  // `Section module` define margin between group of contents
  // element belongs `Section modules` has vertical margin, hasnt horizontal margin.

  .contents
    &>*
      margin: $grt_large_tab 0
    .contents
      &>*
        margin: $grt_middle_tab 0

    .mobile-garter
      margin-left: $grt_middle_tab
      margin-right: $grt_middle_tab


  /* ===== Styling modules ===== */

  //.simple-list

  .border-list
    li
      box-sizing: border-box
      margin: $grt_small_tab 0
      padding: $grt_thin_tab

  .simple-table
    th, td
      padding: $grt_thin

  .border-table
    th, td
      padding: $grt_thin

/* ============================
 * 
 *     Smartphone Layout
 *
 * ============================ */

@media screen and (max-width:767px)
  
  body
    font-size: 75%
    line-height: 160%

  /* ===== Styling modules ===== */

  .form-table
    width: 100%
    th, td
      display: block
      border: 0
      border-bottom: 1px solid #CCC
    th[scope=row]
      box-sizing: border-box
      width: 100%

  .panel
    padding: $grt_middle_tab

  .panel-has-heading
    .panel-heading
      padding: $grt_middle_tab
    .panel-content
      padding: $grt_middle_tab

  .panel-open
    border-left: 0
    border-right: 0

/* ============================
 * 
 *     Outline visualizer
 *
 * ============================ */

=layout-visualizer
  box-sizing: border-box
  padding: 1px
  border: 1px dotted #000

=contents-visualizer
  box-sizing: border-box
  padding: 1px
  border: 1px solid #6CF

=element-visualizer
  position: relative
  &:before
    content: "EL"
    position: absolute
    left: 0
    top: 0
    padding: 0 0.25em
    background: #6CF
    color: #FFF
    font-size: 0.75rem
    line-height: 160%

#show-outline:target
  
  .controls
    .btn-show
      display: none
    .btn-hide
      display: inline-block

  /* ===== Layout modules ===== */

  .layout-wrapper
    +layout-visualizer()

  .layout-column
    +layout-visualizer()

  .layout-column-main
    +layout-visualizer()

  .layout-column-side
    +layout-visualizer()

  /* ===== Section modules ===== */

  .contents
    +contents-visualizer()
    &>*:not(.contents)
      +element-visualizer()

    .contents
      +contents-visualizer()
      &>*:not(.contents)
        +element-visualizer()

// EOF