@charset "utf-8"

@import compass/css3
@import compass/typography
@import _config.sass
@import _util.sass

/* ============================
 * 
 *     Reset Defaults
 *
 * ============================ */

@import compass/reset

/* ============================
 * 
 *     Whole Contents
 *
 * ============================ */

html, body
  height: 100%

body
  width: 100%
  font-size: 100%
  line-height: 140%
  color: #333
  background: #FFF
  -webkit-text-size-adjust: 100%

img
  vertical-align: bottom
  -ms-interpolation-mode: bicubic

strong
  font-weight: bold

a
  //+link-colors(#FFF, #F60 #F60, #FFF, #F60)//n-h-a-v-f

input
  font-size: 75%
  line-height: 120%

input.placeholder
  color: #999

.alpha-ro a:hover img
  opacity: 0.5
  filter: alpha(opacity=50)

+micro-clearfix()

/* ============================
 * 
 *     Header - #masthead
 *
 * ============================ */

#masthead
  width: 100%

/* ============================
 * 
 *     Contents
 *
 * ============================ */

#main
  position: relative

/* ============================
 * 
 *     Footer - #colophon
 *
 * ============================ */

#colophon
  width: 100%

// EOF